# IDE
.vscode
.idea

# Python
__pycache__

# Virtual env
env/

# Django DG
db.sqlite3

# Local settings
src/settings/local.py

# Static files
src/static/
src/main/static/svg/parsed/*.json
src/main/static/svg/parsed/*.svg