body {
  background-color: rgba(0, 0, 0, 0.83);
  color: #fff;
}

a, a:hover {
  color: #fff;
  cursor: pointer;
}

#examples button[type='submit'] {
  width: 12em;
}

svg {
  width: 100%;
  max-height: 45vh;
  padding: 1.8em;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

polygon {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}
